doctype html
html(lang="es" ng-app="appComponent")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Document
    body
        ui-view(class="app")
        script(src="assetsMain/js/angular.min.js")
        script(src="assetsMain/js/uiRoute.min.js")
        script(src="assetsMain/js/angularMain.js")